<body style="background-color: rgb(255, 255, 255); width: 100%;">
  <router-outlet></router-outlet>
  <br/>
  <div class="container">
    <div style="text-align: center;" *ngIf="!showAddReservationComp">
      <button (click)="showAndHideAddReservation()" class="button">Add Reservation</button>
    </div>
  </div>
  <br/>
  <br/>
  <div *ngIf="showAddReservationComp" style="margin:auto; width: 25%;" >
    <app-add-edit-reservation (showThisComponent)="showAddReservComp($event)"></app-add-edit-reservation>
  </div>
  <br/>
  <br/>

  <div style="border: solid; border-radius: 25px; background-color:rgb(5, 68, 54); color: gold">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
      <ng-container matColumnDef="reservationDate">
        <th mat-header-cell *matHeaderCellDef>Date</th>
        <td mat-cell *matCellDef="let element">{{element.reservationDate}}</td>
      </ng-container>

      <ng-container matColumnDef="reservationTime">
        <th mat-header-cell *matHeaderCellDef>Time</th>
        <td mat-cell *matCellDef="let element">{{element.reservationTime}}</td>
      </ng-container>

      <ng-container matColumnDef="partyName">
        <th mat-header-cell *matHeaderCellDef>Party's Name</th>
        <td mat-cell *matCellDef="let element">{{element.partyName}}</td>
      </ng-container>

      <ng-container matColumnDef="numberOfAttend">
        <th mat-header-cell *matHeaderCellDef>Number of people in the Party</th>
        <td mat-cell *matCellDef="let element">{{element.numberOfAttend}}</td>
      </ng-container>

      <ng-container matColumnDef="fullfilled">
        <th mat-header-cell *matHeaderCellDef>Fullfilled</th>
        <td mat-cell *matCellDef="let element" [ngStyle]="{'background-color': element.fullfilled ? 'green' : 'red'}" style="text-align: center;">
          <button mat-button (click)="fulfillReservation(element.Id)">{{element.fullfilled? 'Yes' : 'No'}} </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="cancel">
        <th mat-header-cell *matHeaderCellDef>Cancel</th>
        <td mat-cell *matCellDef="let element" style="text-align: center;">
          <button mat-button (click)="cancelReservation(element.Id)">Cancel</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns" style="background-color: rgb(78, 6, 6);"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</body>